.footer {
    background-color: #aaa;
    margin: auto;
    min-height: 100px;
    text-align: center !important;
    width: 100%;
}

.footer-copyright {
    color: #fff;
    text-align: center !important;
    width: 100%;
}