<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light-silver">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      Multitienda
    </a>
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center">
        <!-- Example split danger button -->
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="myDrop.open()"
          >
            <i class="bi bi-person"></i>
            {{user.email}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem type="button" (click)="openPublicar(mdLogin, mdRegister)">
              <i class="bi bi-plus-circle"></i>
              Publicar
            </button>
            <button ngbDropdownItem type="button" class="btn btn-outline-primary px-3 me-2 btn-soft" *ngIf="!loggedIn" type="button" (click)="openModal(mdLogin)">
              <i class="bi bi-box-arrow-in-right"></i>
              Ingresar
            </button>
            <button ngbDropdownItem type="button" *ngIf="loggedIn" (click)="signOut()">
              <i class="bi bi-box-arrow-left"></i>
              Salir
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
   <!-- Login Modal -->
   <ng-template #mdLogin let-modal>
    <div class="modal-body">
      <app-auth (loggedInEvt)="customerLogged($event)" (doRegisterEvt)="openModal(mdRegCustomer)"></app-auth>
    </div>
  </ng-template>
  <!-- Register Customer -->
  <ng-template #mdRegCustomer let-modal>
    <div class="modal-body">
      <app-register-customer (registeredInEvt)="customerRegistered($event)"></app-register-customer>
    </div>
  </ng-template>
  <!-- Register Modal -->
  <ng-template #mdRegister let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-register-store></app-register-store>
    </div>
  </ng-template>
</nav>