<form #frmRegister="ngForm" action="" (ngSubmit)="register()">
  <div class="form-group">
    <label for="businessName">¿Cual es el nombre de tu negocio?</label>
    <input type="text" name="businessName" id="businessName" class="form-control" [(ngModel)]="storeData.name" required>
    <small class="form-text text-muted">Nombre de tu negocio o proyecto</small>
  </div>
  <div class="form-group">
    <label for="businessDescription">¿Que hace tu negocio?</label>
    <textarea name="businessDescription" id="businessDescription" rows="4" class="form-control" [(ngModel)]="storeData.description"></textarea>
    <small class="form-text text-muted">¿Vendes productos o prestas un servicio?</small>
  </div>
  <div class="form-group">
    <label for="businessName">¿Cual es la direccion?</label>
    <input type="text" name="address" id="address" class="form-control" 
    [(ngModel)]="storeData.address"
    [class.is-invalid]="searchFailed"
    [ngbTypeahead]="search"
    required>
    <small class="form-text text-muted">Cl. 1 #1-1, Bogota</small>
    <small *ngIf="searching" class="form-text text-muted">searching...</small>
  </div>
  <div class="form-group">
    <label for="businessName">¿Cual es el telefono?</label>
    <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]="storeData.phoneNumber" required>
    <small class="form-text text-muted">Telefono de tu negocio o domicilio</small>
  </div>
  <div class="form-group">
    <label for="businessName">Tipo de comercio</label>
    <select name="category" id="category" class="form-control" [(ngModel)]="selectedCategory" required>
      <option [ngValue]="category" *ngFor="let category of categories">{{category.name}}</option>
    </select>
    <small class="form-text text-muted">Selecciona la categoria de tu negocio o proyecto</small>
  </div>
  <div class="form-group">
    <label for="files">Images</label>
    <input #imageInput type="file" name="images" id="images" class="form-control" (change)="processFile(imageInput)" required>
    <small class="form-text text-muted">Formatos validos .png .jpeg</small>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!frmRegister.valid">Publicar</button>
</form>