.category-item-container {
    text-align: center;
    animation: cardAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.category-item-container small {
    color: #000000;
    font-size: 12px;
}

.category-item {
    border-radius: 50px;
    box-shadow: 3px 3px 3px #aaa;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 5px;
    line-height: 80px;
}

.category-item:hover {
    box-shadow: 2px 2px 2px #aaa;
    opacity: .95;
}

.category-item i {
    font-size: 26px;
    color: #000000;
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}